.intro {
  padding-top: 100px;
  margin: 0 auto;
}

.footer {
  // position: absolute;
  // left: 0;
  // bottom: 0;
  // height: 118px;
  // width: 100%;

  &__list {
    overflow: hidden;
    list-style: none;
    font-size: 11px;
    line-height: 22px;
    padding-top: 20px;

    &__item {
      padding: 20px 0 0;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .intro {
    @include span(8);
    display: flex;
    align-items: center;
    height: 550px;
    float: none;
    text-align: center;
  }

  .footer {
    &__list {
      padding: 20px 0;
      font-size: 13px;
      line-height: 26px;

      &__item {
        @include span(3);

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }

}
